In [45]:
import numpy as np
import pandas as pd

In [46]:
pfizer = pd.read_csv("./data/Pfizer_1.csv")

In [47]:
pfizer

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,NaN,NaN,7.0,NaN,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,NaN,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,NaN,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,NaN,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,NaN,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30
10,16-10-2020,ketamine hydrochloride,Temperature,8.0,9.0,10.0,NaN,11.0,12,12.0,11.0,NaN,13,14.0,15
11,16-10-2020,ketamine hydrochloride,Pressure,12.0,12.0,13.0,NaN,15.0,15,15.0,15.0,NaN,16,17.0,18
12,17-10-2020,diltiazem hydrochloride,Temperature,20.0,19.0,19.0,18.0,17.0,16,15.0,NaN,13.0,14,11.0,10
13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,NaN,9.0,11,13.0,14
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

lets get to know more about the data

In [48]:
pfizer.shape

(18, 15)

In [49]:
pfizer.describe()

,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
count,16.000000,16.000000,12.000000,14.000000,16.000000,18.000000,16.00000,14.000000,16.000000,18.000000,16.000000,18.000000
mean,17.750000,18.812500,16.916667,20.142857,20.062500,20.555556,21.12500,22.714286,23.625000,22.444444,22.000000,23.833333
std,10.927031,10.540201,8.095547,11.608068,10.318067,10.182004,10.73235,11.397898,11.360018,11.226137,11.313708,11.536387
min,3.000000,4.000000,4.000000,4.000000,6.000000,8.000000,9.00000,11.000000,9.000000,9.000000,9.000000,10.000000
25%,11.000000,12.750000,12.250000,12.000000,14.500000,14.250000,14.25000,15.250000,18.250000,14.500000,14.000000,15.750000
50%,15.500000,18.000000,16.500000,19.500000,17.000000,18.000000,18.50000,20.500000,23.000000,21.500000,20.500000,22.000000
75%,23.000000,22.000000,20.500000,24.250000,22.000000,23.000000,25.00000,25.750000,27.000000,25.500000,26.000000,27.750000
max,46.000000,47.000000,36.000000,48.000000,48.000000,49.000000,50.00000,52.000000,55.000000,56.000000,57.000000,58.000000

In [50]:
pfizer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       18 non-null     object
 1   Drug_Name  18 non-null     object
 2   Parameter  18 non-null     object
 3   1:30:00    16 non-null     float64
 4   2:30:00    16 non-null     float64
 5   3:30:00    12 non-null     float64
 6   4:30:00    14 non-null     float64
 7   5:30:00    16 non-null     float64
 8   6:30:00    18 non-null     int64
 9   7:30:00    16 non-null     float64
 10  8:30:00    14 non-null     float64
 11  9:30:00    16 non-null     float64
 12  10:30:00   18 non-null     int64
 13  11:30:00   16 non-null     float64
 14  12:30:00   18 non-null     int64
dtypes: float64(9), int64(3), object(3)
memory usage: 2.2+ KB

In [51]:
pfizer.columns

Index(['Date', 'Drug_Name', 'Parameter', '1:30:00', '2:30:00', '3:30:00',
       '4:30:00', '5:30:00', '6:30:00', '7:30:00', '8:30:00', '9:30:00',
       '10:30:00', '11:30:00', '12:30:00'],
      dtype='object')

### Two level of Pivoting the data

1st is pd.melt.  
melt is converting it to long format

In [52]:
pfizer_melt = pd.melt(    pfizer, id_vars= ['Date', 'Drug_Name', 'Parameter'], var_name= "Time", value_name= "Reading" )

In [53]:
pfizer_melt

           Date                Drug_Name    Parameter      Time  Reading
0    15-10-2020  diltiazem hydrochloride  Temperature   1:30:00     23.0
1    15-10-2020  diltiazem hydrochloride     Pressure   1:30:00     12.0
2    15-10-2020      docetaxel injection  Temperature   1:30:00      NaN
3    15-10-2020      docetaxel injection     Pressure   1:30:00      NaN
4    15-10-2020   ketamine hydrochloride  Temperature   1:30:00     24.0
..          ...                      ...          ...       ...      ...
211  17-10-2020  diltiazem hydrochloride     Pressure  12:30:00     14.0
212  17-10-2020      docetaxel injection  Temperature  12:30:00     23.0
213  17-10-2020      docetaxel injection     Pressure  12:30:00     28.0
214  17-10-2020   ketamine hydrochloride  Temperature  12:30:00     24.0
215  17-10-2020   ketamine hydrochloride     Pressure  12:30:00     15.0

[216 rows x 5 columns]

In [54]:
pfizer_melt.shape

(216, 5)

2nd is pd.pivot

In [55]:
df_final= pd.pivot(pfizer_melt, 
         index= ["Date", "Drug_Name", "Time"], 
         columns= "Parameter", 
         values= "Reading").reset_index()

In [56]:
df_final

Parameter,Date,Drug_Name,Time,Pressure,Temperature
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0
...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0

In [57]:
df_final.shape

(108, 5)

In [58]:
df_final.columns.name = None

In [59]:
df_final

           Date                Drug_Name      Time  Pressure  Temperature
0    15-10-2020  diltiazem hydrochloride  10:30:00      18.0         20.0
1    15-10-2020  diltiazem hydrochloride  11:30:00      19.0         20.0
2    15-10-2020  diltiazem hydrochloride  12:30:00      20.0         21.0
3    15-10-2020  diltiazem hydrochloride   1:30:00      12.0         23.0
4    15-10-2020  diltiazem hydrochloride   2:30:00      13.0         22.0
..          ...                      ...       ...       ...          ...
103  17-10-2020   ketamine hydrochloride   5:30:00      11.0         17.0
104  17-10-2020   ketamine hydrochloride   6:30:00      12.0         18.0
105  17-10-2020   ketamine hydrochloride   7:30:00      12.0         19.0
106  17-10-2020   ketamine hydrochloride   8:30:00      11.0         20.0
107  17-10-2020   ketamine hydrochloride   9:30:00      12.0         21.0

[108 rows x 5 columns]

We want to find the mean temperature and pressure  of drugs across dates

In [60]:
#default is mean
pd.pivot_table( df_final, 
               index= "Drug_Name", 
               columns= "Date",
               values= ["Temperature", "Pressure"])

                          Pressure                       Temperature  \
Date                    15-10-2020 16-10-2020 17-10-2020  15-10-2020
Drug_Name
diltiazem hydrochloride  16.000000  22.545455   7.727273   21.454545
docetaxel injection      24.875000  27.000000  24.500000   20.750000
ketamine hydrochloride    9.333333  14.800000  11.500000   23.555556


Date                    16-10-2020 17-10-2020
Drug_Name
diltiazem hydrochloride  37.454545  15.636364
docetaxel injection      51.454545  17.500000
ketamine hydrochloride   11.500000  18.500000

We want to know the max temperature reached

In [61]:
pd.pivot_table( df_final, 
               index= "Drug_Name", 
               columns= "Date",
               values= ["Temperature", "Pressure"],
               aggfunc= "max", 
               margins= True)

                          Pressure                             Temperature  \
Date                    15-10-2020 16-10-2020 17-10-2020   All  15-10-2020
Drug_Name
diltiazem hydrochloride       24.0       27.0       14.0  27.0        23.0
docetaxel injection           29.0       30.0       29.0  30.0        25.0
ketamine hydrochloride        11.0       18.0       15.0  18.0        27.0
All                           29.0       30.0       29.0  30.0        27.0


Date                    16-10-2020 17-10-2020   All
Drug_Name
diltiazem hydrochloride       42.0       20.0  42.0
docetaxel injection           58.0       23.0  58.0
ketamine hydrochloride        15.0       24.0  27.0
All                           58.0       24.0  58.0

We want to know the min temperature reached

In [62]:
pd.pivot_table( df_final, 
               index= "Drug_Name", 
               columns= "Date",
               values= ["Temperature", "Pressure"],
               aggfunc= "min", 
               margins= True)

                          Pressure                             Temperature  \
Date                    15-10-2020 16-10-2020 17-10-2020   All  15-10-2020
Drug_Name
diltiazem hydrochloride       11.0       18.0        3.0   3.0        20.0
docetaxel injection           22.0       23.0       20.0  20.0        17.0
ketamine hydrochloride         7.0       12.0        8.0   7.0        20.0
All                            7.0       12.0        3.0   3.0        17.0


Date                    16-10-2020 17-10-2020   All
Drug_Name
diltiazem hydrochloride       34.0       10.0  10.0
docetaxel injection           46.0       12.0  12.0
ketamine hydrochloride         8.0       13.0   8.0
All                            8.0       10.0   8.0

Lets check for Null values

In [63]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         108 non-null    object
 1   Drug_Name    108 non-null    object
 2   Time         108 non-null    object
 3   Pressure     95 non-null     float64
 4   Temperature  95 non-null     float64
dtypes: float64(2), object(3)
memory usage: 4.3+ KB

In [64]:
df_final.isna().sum()

Date            0
Drug_Name       0
Time            0
Pressure       13
Temperature    13
dtype: int64

lets replace the null values with mean temperature/pressure of the specific drug

In [70]:
def cal_mean(x):
    x["Press_mean"] = x["Pressure"].mean()
    x["Temp_mean"] = x["Temperature"].mean()
    return x

In [71]:
df_final.groupby(["Date", "Drug_Name"]).apply(cal_mean)

                                              Date                Drug_Name  \
Date       Drug_Name
15-10-2020 diltiazem hydrochloride 0    15-10-2020  diltiazem hydrochloride
                                   1    15-10-2020  diltiazem hydrochloride
                                   2    15-10-2020  diltiazem hydrochloride
                                   3    15-10-2020  diltiazem hydrochloride
                                   4    15-10-2020  diltiazem hydrochloride
...                                            ...                      ...
17-10-2020 ketamine hydrochloride  103  17-10-2020   ketamine hydrochloride
                                   104  17-10-2020   ketamine hydrochloride
                                   105  17-10-2020   ketamine hydrochloride
                                   106  17-10-2020   ketamine hydrochloride
                                   107  17-10-2020   ketamine hydrochloride

                                            Time  Pressure  Temperature  \
Date       Drug_Name
15-10-2020 diltiazem hydrochloride 0    10:30:00      18.0         20.0
                                   1    11:30:00      19.0         20.0
                                   2    12:30:00      20.0         21.0
                                   3     1:30:00      12.0         23.0
                                   4     2:30:00      13.0         22.0
...                                          ...       ...          ...
17-10-2020 ketamine hydrochloride  103   5:30:00      11.0         17.0
                                   104   6:30:00      12.0         18.0
                                   105   7:30:00      12.0         19.0
                                   106   8:30:00      11.0         20.0
                                   107   9:30:00      12.0         21.0

                                        Press_mean  Temp_mean
Date       Drug_Name
15-10-2020 diltiazem hydrochloride 0          16.0  21.454545
                                   1          16.0  21.454545
                                   2          16.0  21.454545
                                   3          16.0  21.454545
                                   4          16.0  21.454545
...                                            ...        ...
17-10-2020 ketamine hydrochloride  103        11.5  18.500000
                                   104        11.5  18.500000
                                   105        11.5  18.500000
                                   106        11.5  18.500000
                                   107        11.5  18.500000

[108 rows x 7 columns]